.form-container {
    padding: 150px 10px 150px 10px;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.header-text {
    padding-top: 70px;
    padding-bottom: 70px;
    margin: auto;
    font-size: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;    
}

.contact-info {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-info .icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    
}
.contact-info .icons a img {
    width: 30px;
    height: 30px;
}

.contact-info .icons a span {
    position: absolute;
    transition: transform 0.5s;
}

.contact-info .icons span:nth-child(1),
.contact-info .icons span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #262626;
}

.contact-info .icons span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}
.contact-info .icons:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.contact-info .icons span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}
.contact-info .icons:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}


.contact-info .icons span:nth-child(2),
.contact-info .icons span:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #262626;
}

.contact-info .icons span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}
.contact-info .icons:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}
.contact-info .icons span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}
.contact-info .icons:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

/* Form section */
.contact-message {
    background-color: #fefae0;
    padding: 1em;
}

.contact-message h3 {
    padding-bottom: 20px;
}

.contact-message form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 15px;
}

/* .contact-message form label {
    display: block;
} */

.contact-message form .full {
    grid-column: 1 / 3;
}

.contact-message form input, .contact-message form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid grey;
    background-color: rgb(245, 245, 245);
    font-size: 14px;
}

.contact-message form input:focus, .contact-message form textarea:focus {
    background-color: #fff;
    border: 1px solid black;
    outline: none;
    transition: 0.3s ease;
}

.contact-message form button {
    background: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    letter-spacing: 1px;
    cursor: pointer;

    transition: 0.5s ease;
}

.contact-message form button:hover {
    background: rgba(0, 0, 0, 0);
    color: rgb(32, 32, 32);
}

@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .contact-info {
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        height: 200px;
    }

    .form-container {
        padding: 150px 0px 100px 0px;
        width: 90%;
    }

    .contact-message form .full-mobile {
        grid-column: 1 / 3;
    }
}
