.form-container {
    padding: 150px 10px 100px 10px;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}


/* .contact-info ul {
    padding: 10px;
} */

.wrapper {
    display: grid;
    
    grid-template-columns: 1fr 2fr;
    /* border: 1px solid grey; */
    
}

.wrapper > * {
    padding: 1em;
}

.contact-info {
    background-color:#e0e0e0;
}

.contact-info h3, .contact-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-message {
    background-color: #fefae0;
}

.contact-message form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* .contact-message form label {
    display: block;
} */

.contact-message form .full {
    grid-column: 1 / 3;
}

.contact-message form input, .contact-message form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid grey;
    background-color: rgb(245, 245, 245);
    font-size: 14px;
}

.contact-message form input:focus, .contact-message form textarea:focus {
    background-color: #fff;
    border: 1px solid black;
    outline: none;
    transition: 0.3s ease;
}

.contact-message form button {
    background: rgb(32, 32, 32);
    border: 0;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    letter-spacing: 1px;
    cursor: pointer;

    transition: 0.2s ease;
}

.contact-message form button:hover {
    background: rgb(95, 95, 95);
}

@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
